body {
  padding: 2rem 0 0 2rem;
}

.jumbotron {
  background-color: white;
}

#quote-box {
  margin: auto;
}

#text {
  font-size: 4rem;
}

#author {
  /* margin-top: 1em; */
  font-size: 3rem;
  text-align: right;
}

#buttons {
  position: absolute;
  bottom: 1rem;
}